@import "tailwindcss";

:root {
  --color-white: #fafcff;
  --color-alt-white: #f2f7fe;
  --foreground: #171717;
  --color-blue: #0d6efd;
  --color-orange: #f66308;
  --color-orange-alt: #fd9c0d;
  --color-red: #ff0000;
}

@theme inline {
  --color-background: var(--color-white);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red-hat-display);
  --font-mono: var(--font-space-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  background: var(--color-white);
  color: var(--foreground);

}

::selection {
  background: var(--color-orange-alt)
}